
$color_main: #2ecc71;
$color_back-title: #484646;
$color_navigation: #020202;

$font-size_back-title: 90px;

$font_main-stack: 'Raleway', 'Arial', sans-serif;
$font_second-stack: 'Segoe UI', 'Arial', sans-serif;
